<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>661152957637-nlromrfmad4c2ni3beq1jaisvsmrc5q6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661152957637-nlromrfmad4c2ni3beq1jaisvsmrc5q6</string>
	<key>API_KEY</key>
	<string>AIzaSyA9LbkYi18QVlwwTMIjVDmf7UN2gOOSJ14</string>
	<key>GCM_SENDER_ID</key>
	<string>661152957637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recptrack</string>
	<key>PROJECT_ID</key>
	<string>rectrack-888e9</string>
	<key>STORAGE_BUCKET</key>
	<string>rectrack-888e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661152957637:ios:c7f21d180f14209dccdcac</string>
</dict>
</plist>